<!DOCTYPE html>
<html ng-app="14all">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css"
          href="<%= grunt.config.get('pkg.name') %>.min.css?<%= gitinfo.local.branch.current.shortSHA %>"/>
</head>
<body ng-controller="AppCtrl" ng-cloak>
<loading></loading>
<header class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">14all</a>
            <button class="navbar-toggle" href="#" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed"><i class="glyphicon glyphicon-th-large"></i></button>
        </div>
        <nav collapse="navCollapsed" class="navbar-collapse collapse navbar-responsive-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/manga')}">
                    <a href="#/manga">Manga</a>
                </li>
                <li ng-class="{ active: isActive('/movie')}">
                    <a href="#/movie">Movie</a>
                </li>
                <li ng-class="{ active: isActive('/serie')}">
                    <a href="#/serie">Serie</a>
                </li>
                <li ng-class="{ active: isActive('/anime')}">
                    <a href="#/anime">Anime</a>
                </li>
                <li ng-class="{ active: isActive('/book')}">
                    <a href="#/book">Book</a>
                </li>
                <li ng-class="{ active: isActive('/game')}">
                    <a href="#/game">Game</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" ng-model="search.title" focus-me="focus.search" ng-blur="focus.search=false">
                        </div>
                    </form>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" title="settings"><i class="glyphicon glyphicon-cog"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">Filters</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="" btn-checkbox ng-model="settings.excludeFinished">
                                <i class="glyphicon glyphicon-eye-close text-danger" ng-if="settings.excludeFinished"></i>
                                <i class="glyphicon glyphicon-eye-open text-success" ng-if="!settings.excludeFinished"></i> exclude finished</a>
                        </li>
                        <li>
                            <a href="" btn-checkbox ng-model="settings.excludeDropped">
                                <i class="glyphicon glyphicon-eye-close text-danger" ng-if="settings.excludeDropped"></i>
                                <i class="glyphicon glyphicon-eye-open text-success" ng-if="!settings.excludeDropped"></i> exclude dropped</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a ng-if="!isLoggedIn()" ng-href="#/login" title="login"><i class="glyphicon glyphicon-log-in"></i></a>
                    <a ng-if="isLoggedIn()" ng-href="#/logout" title="logout"><i class="glyphicon glyphicon-log-out"></i></a>
                </li>
                <li>
                    <p class="navbar-text"></p>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">
    <div ng-view class="view-animation"></div>
</div>


<script type="text/javascript" src="<%= grunt.config.get('pkg.name') %>.vendor.min.js?<%= gitinfo.local.branch.current.shortSHA %>"></script>
<script type="text/javascript" src="<%= grunt.config.get('pkg.name') %>.templates.min.js?<%= gitinfo.local.branch.current.shortSHA %>"></script>
<script type="text/javascript" src="<%= grunt.config.get('pkg.name') %>.min.js?<%= gitinfo.local.branch.current.shortSHA %>"></script>
</body>
</html>