<!DOCTYPE html>
<html ng-app="14all" ng-controller="AppCtrl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peerzone</title>
    <!-- inject:head:version --><!-- endinject -->
    <!-- inject:css --><!-- endinject -->
    <link rel="icon" type="image/png" href="site.png">
</head>
<body>
<loading></loading>
<header ng-cloak class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="site.png"/></a>
            <button class="navbar-toggle" ng-init="collapsed.nav = true" ng-click="collapsed.nav = !collapsed.nav"><i
                    class="glyphicon glyphicon-th-large"></i></button>
        </div>
        <nav collapse="collapsed.nav" class="navbar-collapse collapse navbar-responsive-collapse" role="navigation">
            <menu page-title="'Peerzone '">
                <menu-item path="#/manga" display-title="Manga"></menu-item>
                <menu-item path="#/movie" display-title="Movie"></menu-item>
                <menu-item path="#/serie" display-title="Serie"></menu-item>
                <menu-item path="#/anime" display-title="Anime"></menu-item>
                <menu-item path="#/book" display-title="Book"></menu-item>
                <menu-item path="#/game" display-title="Game"></menu-item>
                <menu-item path="https://github.com/Opiskull/14all/issues" display-title="Issues" target="_blank"></menu-item>
                <menu-item path="https://github.com/Opiskull/14all/blob/master/CHANGELOG.md" display-title="Changelog" target="_blank"></menu-item>
            </menu>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" ng-if="!authInfo.isLoggedIn">
                    <a ng-href="#/login" title="login"><i class="glyphicon glyphicon-log-in"></i> login</a>
                </li>
                <li class="dropdown" ng-if="authInfo.isLoggedIn">
                    <a class="dropdown-toggle">{{authInfo.user.username}}</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-href="#/logout" title="logout"><i class="glyphicon glyphicon-log-out"></i> logout</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <div class="input-group search-box">
                                <input type="search" class="form-control" placeholder="Search" ng-model="keyword"
                                       focus-me="focus.search" ng-blur="focus.search=false">
                                <span class="input-group-btn" ng-if="keyword !== ''">
                                    <button class="btn btn-default" type="button" ng-click="clearKeyword()"><i
                                            class="glyphicon glyphicon-remove"></i></button>
                                </span>
                            </div>
                        </div>
                    </form>
                </li>
                <li ng-class="{ active : collapsed.filter}"><a title="filters" ng-click="collapsed.filter = !collapsed.filter"><i class="glyphicon glyphicon-filter"></i></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" title="settings"><i class="glyphicon glyphicon-cog"></i></a>
                    <ul class="dropdown-menu">
                        <li><a>Version: {{appInfo.version}}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div ng-cloak class="filters" collapse="!collapsed.filter">
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="settings.filters.exclude" btn-radio="true" ng-click="filterItems()">Exclude</label>
        <label class="btn btn-primary" ng-model="settings.filters.exclude" btn-radio="false" ng-click="filterItems()">Include</label>
    </div>
    <div class="btn-group">
        <label class="btn btn-default" ng-model="settings.filters.stats.paused" btn-checkbox ng-click="filterItems()">paused</label>
        <label class="btn btn-default" ng-model="settings.filters.stats.dropped" btn-checkbox ng-click="filterItems()">dropped</label>
        <label class="btn btn-default" ng-model="settings.filters.stats.finished" btn-checkbox ng-click="filterItems()">finished</label>
        <label class="btn btn-default" ng-model="settings.filters.stats.none" btn-checkbox ng-click="filterItems()">none</label>
    </div>
    <div class="btn-group">
        <label class="btn btn-default" ng-click="settings.filters.stats.paused=true;settings.filters.stats.dropped=true;settings.filters.stats.finished=true;settings.filters.stats.none=true;filterItems()">select all</label>
        <label class="btn btn-default" ng-click="settings.filters.stats.paused=false;settings.filters.stats.dropped=false;settings.filters.stats.finished=false;settings.filters.stats.none=false;filterItems()">deselect all</label>
    </div>
</div>
<div ng-cloak class="container-fluid">
    <div ng-view class="view-animation"></div>
</div>

<!-- inject:js --><!-- endinject -->
</body>
</html>