<!DOCTYPE html>
<html ng-app="14all" ng-controller="AppCtrl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title ng-bind="'peerzone ' + title"></title>
    <link rel="stylesheet" type="text/css"
          href="<%= grunt.config.get('pkg.name') %>.min.css?<%= gitinfo.local.branch.current.shortSHA %>"/>
    <link rel="icon" type="image/png" href="site.png">
</head>
<body>
<loading></loading>
<header ng-cloak class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="site.png" /></a>
            <button class="navbar-toggle" href="#" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed"><i class="glyphicon glyphicon-th-large"></i></button>
        </div>
        <nav collapse="navCollapsed" class="navbar-collapse collapse navbar-responsive-collapse" role="navigation">
            <menu page-title="pageTitle">
                <menu-item path="#/manga" display-title="Manga"></menu-item>
                <menu-item path="#/movie" display-title="Movie"></menu-item>
                <menu-item path="#/serie" display-title="Serie"></menu-item>
                <menu-item path="#/anime" display-title="Anime"></menu-item>
                <menu-item path="#/book" display-title="Book"></menu-item>
                <menu-item path="#/game" display-title="Game"></menu-item>
                <menu-item path="https://github.com/Opiskull/14all/issues" display-title="Issues" target="_blank"></menu-item>
            </menu>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <div class="input-group search-box">
                                <input type="search" class="form-control" placeholder="Search" ng-model="settings.filter.keyword.title" focus-me="focus.search" ng-blur="focus.search=false">
                                <span class="input-group-btn" ng-if="settings.filter.keyword.title !== ''">
                                    <button class="btn btn-default" type="button" ng-click="settings.filter.keyword.title = ''"><i class="glyphicon glyphicon-remove"></i></button>
                                </span>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" title="settings"><i class="glyphicon glyphicon-cog"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">Filters</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="" btn-checkbox ng-model="settings.filter.stats.finished">
                                <i class="glyphicon glyphicon-eye-close text-danger" ng-if="settings.filter.stats.finished"></i>
                                <i class="glyphicon glyphicon-eye-open text-success" ng-if="!settings.filter.stats.finished"></i> exclude finished</a>
                        </li>
                        <li>
                            <a href="" btn-checkbox ng-model="settings.filter.stats.dropped">
                                <i class="glyphicon glyphicon-eye-close text-danger" ng-if="settings.filter.stats.dropped"></i>
                                <i class="glyphicon glyphicon-eye-open text-success" ng-if="!settings.filter.stats.dropped"></i> exclude dropped</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a ng-if="!isLoggedIn()" ng-href="#/login" title="login"><i class="glyphicon glyphicon-log-in"></i></a>
                    <a ng-if="isLoggedIn()" ng-href="#/logout" title="logout"><i class="glyphicon glyphicon-log-out"></i></a>
                </li>
                <li>
                    <p class="navbar-text"></p>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div ng-cloak class="container-fluid">
    <div ng-view class="view-animation"></div>
</div>

<script type="text/javascript" src="<%= grunt.config.get('pkg.name') %>.vendor.min.js?<%= gitinfo.local.branch.current.shortSHA %>"></script>
<script type="text/javascript" src="<%= grunt.config.get('pkg.name') %>.templates.min.js?<%= gitinfo.local.branch.current.shortSHA %>"></script>
<script type="text/javascript" src="<%= grunt.config.get('pkg.name') %>.min.js?<%= gitinfo.local.branch.current.shortSHA %>"></script>
</body>
</html>