.ng-enter{
  .fadeIn;
}

.ng-enter.ng-enter-active{
  .fadeInComplete;
}

.fadeIn{
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0;
}
.fadeInComplete{
  opacity: 1;
}

.ng-leave{
  .fadeOut;
}

.ng-leave.ng-leave-active{
  .fadeOutComplete;
}
.fadeOut{
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 1;
}
.fadeOutComplete{
  opacity: 0;
  display: none;
}