@import "bootstrap/bootstrap.less";
@import "loading.less";
@import "animate.less";

body{padding-top:70px;}

.caret.caret-reversed {
  border-top-width: 0;
  border-bottom: 4px solid #000000;
}

.bold{
  font-weight:bold;
}

.middle-vertical{
  display: table-cell;
  vertical-align: middle;
}

.absolute-center{
  margin: auto;
  position: absolute !important;
  opacity: 1;
  top: 0; left: 0; bottom: 0; right: 0;
}

.backdrop{
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  opacity: 0.5;
  z-index: 9999;
  background-color: #000000;
}

.search-box{
  width:220px;
}

.navbar-brand{
  padding:3px
}