@import "bootstrap/bootstrap.less";
@import "loading.less";
@import "animate.less";
@import "info.less";

@myorange: #ff8400;


@grid-gutter-width:         4px;
@brand-primary: @myorange;


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body{
  padding-top:60px;
  padding-bottom:60px;
}

.bold{
  font-weight:bold;
}

.middle-vertical{
  display: table-cell;
  vertical-align: middle;
}

.absolute-center{
  margin: auto;
  position: absolute !important;
  opacity: 1;
  top: 0; left: 0; bottom: 0; right: 0;
}

.backdrop{
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  opacity: 0.5;
  z-index: 9999;
  background-color: #000000;
}

.search-box{
  width:220px;
}

.navbar-brand{
  padding:3px
}

.navbar-toggle{
  margin-top:4px;
  margin-bottom: 4px;
}

.bottom-row{
  .row;
  position: fixed;
  bottom:0px;
}

.header-row{
  .row;
  /*border-bottom: solid;
  border-width: 1px;
  border-color: @table-border-color;*/
  padding: 5px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  font-weight: bold;
}

.item-row{
  .row;
  border-top: solid;
  border-width: 1px;
  border-color: @table-border-color;
  padding: 5px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.item-row:hover{
  background-color: @state-info-bg !important;
}
.item-row.dropped{
  background-color: @state-danger-bg;
}
.item-row.finished{
  background-color: @state-success-bg;
}

.select-info{
  color: @myorange;
  cursor: pointer;
}
.select-info:hover{
  color: darken(@myorange,10%);
}