@import "loading.less";
@import "animate.less";
@import "info.less";
@import "rating.less";
@import "custom-bootstrap.less";
@import "tag.less";
@import "custom-rows.less";
@import "bootstrap-fixes.less";
@import "angular-growl.less";

.bold {
  font-weight: bold;
}

.middle-vertical {
  display: table-cell;
  vertical-align: middle;
}

.search-box {
  width: 250px;
}

.order-by {
  font-weight: bold;
  font-size: 15px;
}

.select-info {
  color: @brand-primary;
  cursor: pointer;
}

.select-info:hover {
  color: darken(@brand-primary, 10%);
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.filters {
  margin-left: 8px;
  margin-right: 8px;
}