.rating-nuts {
  max-width: 130px;
  width: 130px;
  clear: both;
  padding-top: 2px;
}

.nut {
  background: url('images/nut-sprite.png') no-repeat top left;
  height: 24px;
  width: 24px;
  margin: -1px;
  display: inline-block;
  cursor: pointer;
}

.nut.nut-disabled {
  background-position: 0px 0px;
  opacity: 0.5;
}

.nut.nut-enabled {
  background-position: 0px -24px;
}

.nut.nut-hover {
  background-position: 0px -24px;
  opacity: 0.75;
}