<div class="header-row">
    <div class="col-sm-2"><a ng-click="orderBy('title')" class="order-by">Title</a>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-2"><a ng-click="orderBy('rating')" class="order-by">Rating</a>
    </div>
    <div class="col-sm-1"><a ng-click="orderBy('updatedAt')" class="order-by">Last
        Modified</a></div>
    <div class="col-sm-3"><span class="badge pull-right">{{items.length}}</span></div>
</div>
<div class="item-row" ng-repeat="game in filtered track by game.id"
     display-state="game.state">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2"><a ng-click="showInfo(game)">{{game.title}}</a></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
                <rating-nuts item="game" property="'rating'"></rating-nuts>
            </div>
            <div class="col-sm-1">{{game.updatedAt | timeAgo}}</div>
            <div class="col-sm-3">
                <stats-button model="game"></stats-button>
                <actions-button remove="remove(game)" edit="edit(game)"></actions-button>
            </div>
        </div>
        <info item="game"></info>
    </div>
</div>
<bottom-pagination></bottom-pagination>
