<div class="header-row">
    <div class="col-sm-2"><a href="" ng-click="orderBy.predicate = 'title'; orderBy.reverse=!orderBy.reverse">Title</a>
    </div>
    <div class="col-sm-6"></div>
    <div class="col-sm-1"><a href="" ng-click="orderBy.predicate = 'updatedAt'; orderBy.reverse=!orderBy.reverse">Last
        Modified</a></div>
    <div class="col-sm-3"><span class="badge pull-right">{{filtered.length}}</span></div>
</div>
<div class="item-row" ng-if="!game.editable" ng-repeat-start="game in filtered = (games | multi:settings.filter)"
     display-state="game.stats">

    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2"><a href="" ng-click="itemService.showInfo(game)">{{game.title}}</a></div>
            <div class="col-sm-6"></div>
            <div class="col-sm-1">{{game.updatedAt | timeAgo}}</div>
            <div class="col-sm-3">
                <actions-button remove="remove(game)" model="game"></actions-button>
            </div>
        </div>
        <div collapse="!game.open">
            <info info="game.info"></info>
        </div>
    </div>
</div>
<div ng-include="'game/edit.html'" ng-if="game.editable" ng-repeat-end=""></div>
<div class="item-row" ng-if="newgame.isnew">
    <div class="col-sm-2" colspan="2"><search-button  default-provider="defaultProvider" item="newgame"></search-button></div>
    <div class="col-sm-6"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
        <save-cancel-button save="create(newgame)" cancel="cancel(newgame)"></save-cancel-button>
    </div>
</div>
<div class="item-row" ng-if="!newgame.isnew">
    <div class="col-sm-12">
        <add-button add="add()"></add-button>
    </div>
</div>