<div class="header-row">
    <div class="col-sm-2"><a ng-click="orderBy('title')">Title</a>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-2"><a ng-click="orderBy('rating')">Rating</a>
    </div>
    <div class="col-sm-1"><a ng-click="orderBy('updatedAt')">Last
        Modified</a></div>
    <div class="col-sm-3"><span class="badge pull-right">{{items.length}}</span></div>
</div>
<div class="item-row" ng-repeat="game in filtered track by game._id"
     display-state="game.stats">

    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2"><a ng-click="showInfo(game)">{{game.title}}</a></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
                <rating-stars item="game" property="'rating'"></rating-stars>
            </div>
            <div class="col-sm-1">{{game.updatedAt | timeAgo}}</div>
            <div class="col-sm-3">
                <stats-button model="game"></stats-button>
                <actions-button remove="remove(game)" edit="edit(game)"></actions-button>
            </div>
        </div>
        <info item="game"></info>
    </div>
</div>
<div class="navbar-fixed-bottom navbar-default navbar">
    <div class="bottom-row">
        <div class="col-sm-12">
            <add-button add="add()"></add-button>
            <pagination total-items="pagination.filteredItems" ng-model="pagination.currentPage"
                        items-per-page="pagination.itemsPerPage" max-size="pagination.maxSize"
                        class="pull-right pagination-sm" boundary-links="true" ng-change="filter()"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;"></pagination>
        </div>
    </div>
</div>
