<div class="table-responsive">
<table class="table table-hover">
    <thead>
    <tr>
        <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
        <th style="width: 160px"><a href="" ng-click="predicate = 'updatedAt'; reverse=!reverse">Last Modified</a></th>
        <th style="width: 210px"><span class="badge pull-right">{{games.length}}</span></th></tr>
    </thead>
    <tbody>
    <tr ng-if="!game.editable" ng-repeat-start="game in games | isFinished:settings.excludeFinished | isDropped:settings.excludeDropped | filter:search | orderBy:[predicate]:reverse"
        ng-class="{bold:game.stats.finished,danger:game.stats.dropped,success:game.stats.finished}">
        <td>{{game.title}}</td>
        <td>{{game.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>
            <actions-button finished="finished(game)" remove="remove(game)" dropped="dropped(game)" model="game"></actions-button>
        </td>
    </tr>
    <tr ng-if="game.editable" ng-repeat-end="">
        <td><input class="form-control input-sm" type="text" ng-model="game.title"/></td>
        <td>{{game.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</td>
        <td><save-cancel-button save="update(game)" cancel="cancel(game)"></save-cancel-button></td>
    </tr>
    </tbody>
    <tfoot>
    <tr ng-if="newgame.isnew">
        <td colspan="2"><input class="form-control input-sm" type="text" ng-model="newgame.title" placeholder="title" focus-me="newgame.isnew"/></td>
        <td><save-cancel-button save="create(newgame)" cancel="cancel(newgame)"></save-cancel-button></td>
    </tr>
        <tr ng-if="!newgame.isnew"><td colspan="3"><add-button add="add()"></add-button></td></tr>
    </tfoot>
</table>
</div>