<div class="item-row">
    <div class="col-sm-2">
        <search-button default-provider="defaultProvider" item="newitem" placeholder="book name"></search-button>
    </div>
    <div class="col-sm-2"><input class="form-control input-sm" type="number" min="0" ng-model="newitem.page"
                                 placeholder="page"/></div>
    <div class="col-sm-2"><input class="form-control input-sm" type="text" min="0" ng-model="newitem.author"
                                 placeholder="author"/></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <save-cancel-button save="create(newitem)" cancel="cancel(newitem)"></save-cancel-button>
    </div>
</div>