<div class="form-group" ng-class="{'has-error': itemform.title.$invalid}">
    <label>Title</label>
    <search-button default-provider="defaultProvider" item="item" placeholder="book name"
                   info-callback="searchInfoCallback"></search-button>
</div>
<div class="form-group" ng-class="{'has-error': itemform.page.$invalid}">
    <label>Page</label>
    <input class="form-control" type="number" min="0" ng-model="item.page"
           placeholder="page" name="page"/>
</div>
<div class="form-group">
    <label>Author</label>
    <input class="form-control" type="text" ng-model="item.author"
           placeholder="author"/>
</div>
<div class="form-group">
    <label>Tags</label>
    <tags-input ng-model="item.tags" on-tag-added="onTagAdded($tag)"></tags-input>
</div>