<div class="header-row">
    <div class="col-sm-2"><a ng-click="orderBy('title')">Title</a>
    </div>
    <div class="col-sm-2"><a ng-click="orderBy('page')">Page</a>
    </div>
    <div class="col-sm-2"><a ng-click="orderBy('author')">Author</a>
    </div>
    <div class="col-sm-2"><a ng-click="orderBy('rating')">Rating</a>
    </div>
    <div class="col-sm-1"><a ng-click="orderBy('updatedAt')">Last
        Modified</a></div>
    <div class="col-sm-3"><span class="badge pull-right">{{items.length}}</span></div>
</div>
<div class="item-row" ng-repeat="book in filtered track by book._id"
     display-state="book.stats">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <a ng-click="showInfo(book)">{{book.title}}</a>
            </div>
            <div class="col-sm-2">
                <up-down-button disabled="book.stats.finished" item="book" property="'page'"></up-down-button>
            </div>
            <div class="col-sm-2">{{book.author}}</div>
            <div class="col-sm-2">
                <rating-nuts item="book" property="'rating'"></rating-nuts>
            </div>
            <div class="col-sm-1">{{book.updatedAt | timeAgo}}</div>
            <div class="col-sm-3">
                <stats-button model="book"></stats-button>
                <actions-button remove="remove(book)" edit="edit(book)"></actions-button>
            </div>
        </div>
        <info item="book"></info>
    </div>
</div>
<bottom-pagination></bottom-pagination>
