<div class="header-row">
    <div class="col-sm-2"><a href="" ng-click="orderBy.predicate = 'title'; orderBy.reverse=!orderBy.reverse">Title</a>
    </div>
    <div class="col-sm-6"><a href="" ng-click="orderBy.predicate = 'page'; orderBy.reverse=!orderBy.reverse">Page</a>
    </div>
    <div class="col-sm-1"><a href="" ng-click="orderBy.predicate = 'updatedAt'; orderBy.reverse=!orderBy.reverse">Last
        Modified</a></div>
    <div class="col-sm-3"><span class="badge pull-right">{{books.length}}</span></div>
</div>
<div class="item-row" ng-if="!book.editable" ng-repeat-start="book in filtered = (books | multi:settings.filter) | pagination:pagination track by book._id"
     display-state="book.stats">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <a href="" ng-click="itemService.showInfo(book)">{{book.title}}</a>
            </div>
            <div class="col-sm-6">
                <up-down-button disabled="book.stats.finished" item="book" property="'page'"></up-down-button>
            </div>
            <div class="col-sm-1">{{book.updatedAt | timeAgo}}</div>
            <div class="col-sm-3">
		<stats-button model="book"></stats-button>
                <actions-button remove="remove(book)" model="book"></actions-button>
            </div>
        </div>
        <info item="book"></info>
    </div>
</div>
<div ng-include="'book/edit.html'" ng-repeat-end="" ng-if="book.editable"></div>

<div class="navbar-fixed-bottom navbar-default navbar">
    <div class="bottom-row">
        <div class="col-sm-12">
            <add-button add="add()" ng-if="!newbook.isnew"></add-button>
            <div ng-include="'book/add.html" ng-if="newbook.isnew"></div>
            <pagination total-items="filtered.length" ng-model="pagination.currentPage"
                        items-per-page="pagination.itemsPerPage" max-size="pagination.maxSize"
                        class="pull-right pagination-sm" boundary-links="true"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
    </div>
</div>