<div class="header-row">
    <div class="col-sm-2"><a href="" ng-click="orderBy.predicate = 'title'; orderBy.reverse=!orderBy.reverse">Title</a>
    </div>
    <div class="col-sm-6"><a href="" ng-click="orderBy.predicate = 'page'; orderBy.reverse=!orderBy.reverse">Page</a>
    </div>
    <div class="col-sm-1"><a href="" ng-click="orderBy.predicate = 'updatedAt'; orderBy.reverse=!orderBy.reverse">Last
        Modified</a></div>
    <div class="col-sm-3"><span class="badge pull-right">{{filtered.length}}</span></div>
</div>
<div class="item-row" ng-if="!book.editable" ng-repeat-start="book in filtered = (books | multi:settings.filter)"
     display-state="book.stats">

    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <a href="" ng-click="itemService.showInfo(book)">{{book.title}}</a>
            </div>
            <div class="col-sm-6">
                <up-down-button decrease="decreasePg(book)" increase="increasePg(book)" value="book.page"
                                disabled="book.stats.finished"></up-down-button>
            </div>
            <div class="col-sm-1">{{book.updatedAt | timeAgo}}</div>
            <div class="col-sm-3">
                <actions-button remove="remove(book)" model="book"></actions-button>
            </div>
        </div>
    </div>
    <info info="book.info" ng-if="book.open"></info>
</div>
<div ng-include="'book/edit.html'" ng-repeat-end="" ng-if="book.editable"></div>
<div class="item-row" ng-if="newbook.isnew">
    <div class="col-sm-2"><input class="form-control input-sm" type="text" ng-model="newbook.title" placeholder="title"
                                 focus-me="newbook.isnew"/></div>
    <div class="col-sm-6"><input class="form-control input-sm" type="number" min="0" ng-model="book.page"/></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
        <save-cancel-button save="create(newbook)" cancel="cancel(newbook)"></save-cancel-button>
    </div>
</div>
<div class="item-row" ng-if="!newbook.isnew">
    <div class="col-sm-12">
        <add-button add="add()"></add-button>
    </div>
</div>