<div class="header-row">
    <div class="col-sm-2"><a href="" ng-click="orderBy.predicate = 'title'; orderBy.reverse=!orderBy.reverse">Title</a>
    </div>
    <div class="col-sm-3"><a href=""
                             ng-click="orderBy.predicate = 'season'; orderBy.reverse=!orderBy.reverse">Season</a>
    </div>
    <div class="col-sm-3"><a href=""
                             ng-click="orderBy.predicate = 'episode'; orderBy.reverse=!orderBy.reverse">Episode</a>
    </div>
    <div class="col-sm-1"><a href=""
                             ng-click="orderBy.predicate = 'updatedAt'; orderBy.reverse=!orderBy.reverse">Last
        Modified</a></div>
    <div class="col-sm-3"><span class="badge pull-right">{{filtered.length}}</span></div>
</div>
<div class="item-row" ng-if="!serie.editable"
     ng-repeat-start="serie in filtered = (series | multi:settings.filter)"
     display-state="serie.stats">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <a href="" ng-click="itemService.showInfo(serie)">{{serie.title}}</a>
            </div>
            <div class="col-sm-3">
                <up-down-button decrease="itemService.decreaseSe(serie)" increase="itemService.increaseSe(serie)"
                                value="serie.season"
                                disabled="serie.stats.finished"></up-down-button>
            </div>
            <div class="col-sm-3">
                <up-down-button decrease="itemService.decreaseEp(serie)" increase="itemService.increaseEp(serie)"
                                value="serie.episode"
                                disabled="serie.stats.finished"></up-down-button>
            </div>
            <div class="col-sm-1">{{serie.updatedAt | timeAgo}}</div>
            <div class="col-sm-3">
                <actions-button remove="remove(serie)" model="serie"></actions-button>
            </div>
        </div>
    </div>
    <info info="serie.info" ng-if="serie.open"></info>
</div>
<div ng-include="'serie/edit.html'" ng-if="serie.editable" ng-repeat-end=""></div>
<div class="item-row" ng-if="newserie.isnew">
    <div class="col-sm-2">
        <search-button search="search(newserie)" item="newserie" ng-model="newserie.title"></search-button>
    </div>
    <div class="col-sm-3"><input class="form-control input-sm" type="number" min="0"
                                 ng-model="newserie.season"/></div>
    <div class="col-sm-3"><input class="form-control input-sm" type="number" min="0"
                                 ng-model="newserie.episode"/></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
        <save-cancel-button save="create(newserie)" cancel="cancel(newserie)"></save-cancel-button>
    </div>
</div>
<div class="item-row" ng-if="!newserie.isnew">
    <div class="col-sm-12">
        <add-button add="add()"></add-button>
    </div>
</div>