<div class="table-responsive">
<table class="table table-hover">
    <thead>
    <tr>
        <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
        <th style="width: 100px"><a href="" ng-click="predicate = 'season'; reverse=!reverse">Season</a></th>
        <th style="width: 100px"><a href="" ng-click="predicate = 'episode'; reverse=!reverse">Episode</a></th>
        <th style="width: 160px"><a href="" ng-click="predicate = 'updatedAt'; reverse=!reverse">Last Modified</a></th>
        <th style="width: 210px"></th></tr>
    </thead>
    <tbody>
    <tr ng-if="!serie.editable" ng-repeat-start="serie in series | isFinished:excludeFinished | filter:search | orderBy:[predicate]:reverse" ng-class="{success:serie.finished,bold:serie.finished}">
        <td>{{serie.title}}</td>
        <td>
            <a href="" ng-click="decreaseSe(serie)" class="btn btn-default btn-xs pull-left" ng-disabled="serie.finished"><span class="glyphicon glyphicon-minus"></span></a>
            <a href="" ng-click="increaseSe(serie)" class="btn btn-default btn-xs pull-right" ng-disabled="serie.finished"><span class="glyphicon glyphicon-plus"></span></a>
         <span class="pull-right">{{serie.season}}</span>
        </td>
        <td>
            <a href="" ng-click="decreaseEp(serie)" class="btn btn-default btn-xs pull-left" ng-disabled="serie.finished"><span class="glyphicon glyphicon-minus"></span></a>
            <a href="" ng-click="increaseEp(serie)" class="btn btn-default btn-xs pull-right" ng-disabled="serie.finished"><span class="glyphicon glyphicon-plus"></span></a>
            <span class="pull-right">{{serie.episode}}</span>
        </td>
        <td>{{serie.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>
            <div class="btn-group pull-right">
                <a class="btn btn-default" ng-class="{active:serie.finished}" href="" ng-click="finished(serie)">finished</a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-model="serie.editable" btn-checkbox href="">edit</a></li>
                            <li><a ng-click="remove(serie)" href="">delete</a></li>
                        </ul>
                    </div>
            </div>
        </td>
    </tr>
    <tr ng-if="serie.editable" ng-repeat-end="">
        <td><input class="form-control input-sm" type="text" ng-model="serie.title"/></td>
        <td><input class="form-control input-sm" type="number" min="0" ng-model="serie.season"/></td>
        <td><input class="form-control input-sm" type="number" min="0" ng-model="serie.episode"/></td>
        <td>{{serie.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</td>
        <td><div class="btn-group btn-group-justified">
            <a class="btn btn-default" ng-click="update(serie)">save</a>
            <a class="btn btn-default" ng-click="cancel(serie)">cancel</a>
        </div></td>
    </tr>
    </tbody>
    <tfoot>
    <tr ng-if="newserie.isnew">
        <td><input class="form-control input-sm" type="text" ng-model="newserie.title" placeholder="title"/></td>
        <td><input class="form-control input-sm" type="number" min="0" ng-model="newserie.season"/></td>
        <td><input class="form-control input-sm" type="number" min="0" ng-model="newserie.episode"/></td>
        <td><div class="btn-group btn-group-justified">
            <a class="btn btn-default" ng-click="create(newserie)">save</a>
            <a class="btn btn-default" ng-click="cancel(newserie)">cancel</a>
        </div></td>
    </tr>
        <tr ng-if="!newserie.isnew"><td colspan="5"><button ng-click="add()" class="btn btn-default">add</button></td></tr>
    </tfoot>
</table>
</div>