<div class="form-group" ng-class="{'has-error': itemform.title.$invalid}">
    <label>Title</label>
    <search-button default-provider="defaultProvider" item="item" placeholder="serie name"></search-button>
</div>
<div class="form-group" ng-class="{'has-error': itemform.season.$invalid}">
    <label>Season</label>
    <input class="form-control" type="number" min="0"
           ng-model="item.season" placeholder="season" name="season"/>
</div>
<div class="form-group" ng-class="{'has-error': itemform.episode.$invalid}">
    <label>Episode</label>
    <input class="form-control" type="number" min="0"
           ng-model="item.episode" placeholder="episode" name="episode"/>
</div>
<div class="form-group">
    <label>Tags</label>
    <tags-input ng-model="item.tags" on-tag-added="onTagAdded($tag)"></tags-input>
</div>