<form role="form">
    <div class="form-group">
        <label>Title</label>
        <search-button default-provider="defaultProvider" item="item" placeholder="serie name"></search-button>
    </div>
    <div class="form-group">
        <label>Season</label>
        <input class="form-control input-sm" type="number" min="0"
               ng-model="item.season" placeholder="season"/>
    </div>
    <div class="form-group">
        <label>Episode</label>
        <input class="form-control input-sm" type="number" min="0"
               ng-model="item.episode" placeholder="episode"/>
    </div>
    <div class="form-group">
        <label>Tags</label>
        <tags-input ng-model="item.tags"></tags-input>
    </div>
</form>