<div class="header-row">
    <div class="col-sm-2"><a ng-click="orderBy('title')" class="order-by">Title</a>
    </div>
    <div class="col-sm-2"><a ng-click="orderBy('season')" class="order-by">Season</a>
    </div>
    <div class="col-sm-2"><a ng-click="orderBy('episode')" class="order-by">Episode</a>
    </div>
    <div class="col-sm-2"><a ng-click="orderBy('rating')" class="order-by">Rating</a>
    </div>
    <div class="col-sm-1"><a ng-click="orderBy('updatedAt')" class="order-by">Last
        Modified</a></div>
    <div class="col-sm-3"><span class="badge pull-right">{{items.length}}</span></div>
</div>
<div class="item-row" ng-repeat="serie in filtered track by serie.id" display-state="serie.state">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <a ng-click="showInfo(serie)">{{serie.title}}</a>
            </div>
            <div class="col-sm-2">
                <up-down-button disabled="serie.state == 'finished'" item="serie" property="'season'"></up-down-button>
            </div>
            <div class="col-sm-2">
                <up-down-button disabled="serie.state == 'finished'" item="serie" property="'episode'"></up-down-button>
            </div>
            <div class="col-sm-2">
                <rating-nuts item="serie" property="'rating'"></rating-nuts>
            </div>
            <div class="col-sm-1">{{serie.updatedAt | timeAgo}}</div>
            <div class="col-sm-3">
                <stats-button model="serie"></stats-button>
                <actions-button remove="remove(serie)" edit="edit(serie)"></actions-button>
            </div>
        </div>
        <info item="serie"></info>
    </div>
</div>
<bottom-pagination></bottom-pagination>