<div class="info-container">
    <info-image info="info"></info-image>
    <div class="info-rows">
        <div class="info-row-100" ng-if="info.titles.length > 0">
            <div class="info-title">Alternate Titles</div>
            <div class="info-text-100"><a ng-repeat="title in info.titles">{{title.title}}<span ng-if="!$last">; </span></a></div>
        </div>
        <div class="info-row">
            <div class="info-title">First Air Date</div>
            <div class="info-text">{{info.first_air_date}}</div>
        </div>
    </div>
</div>