<div class="header-row">
    <div class="col-sm-2">
        <a ng-click="orderBy('title')" class="order-by">Title</a>
    </div>
    <div class="col-sm-4">
        <a ng-click="orderBy('episode')" class="order-by">Episode</a>
    </div>
    <div class="col-sm-2"><a ng-click="orderBy('rating')" class="order-by">Rating</a>
    </div>
    <div class="col-sm-1">
        <a ng-click="orderBy('updatedAt')" class="order-by">Last Modified</a>
    </div>
    <div class="col-sm-3">
        <span class="badge pull-right">{{pagination.filteredItemsCount}}</span>
    </div>
</div>
<div class="item-row" ng-repeat="anime in pagination.pageItems track by anime.id"
     display-state="anime.state">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <a ng-click="showInfo(anime)">{{anime.title}}</a>
            </div>
            <div class="col-sm-4">
                <up-down-button disabled="anime.state == 'finished'" item="anime" property="'episode'"
                                update="update(anime)"></up-down-button>
            </div>
            <div class="col-sm-2">
                <rating-nuts item="anime" update="update(anime)" property="'rating'"></rating-nuts>
            </div>
            <div class="col-sm-1">{{anime.updatedAt | timeAgo}}</div>
            <div class="col-sm-3 pull-right">
                <stats-button model="anime" stats="enabledStats" update="update(anime)"></stats-button>
                <actions-button remove="remove(anime)" edit="edit(anime)"></actions-button>
            </div>
        </div>
        <info item="anime"></info>
    </div>
</div>
<bottom-navigation add="add()" resource="{{resourceName}}"></bottom-navigation>