<div class="table-responsive">
<table class="table table-hover">
    <thead>
    <tr>
        <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
        <th><a href="" ng-click="predicate = 'episode'; reverse=!reverse">Episode</a></th>
        <th style="width: 160px"><a href="" ng-click="predicate = 'updatedAt'; reverse=!reverse">Last Modified</a></th>
        <th style="width: 210px"><span class="badge pull-right">{{animes.length}}</span></th></tr>
    </thead>
    <tbody>
    <tr ng-if="!anime.editable" ng-repeat-start="anime in animes | isFinished:settings.excludeFinished | isDropped:settings.excludeDropped | filter:search | orderBy:[predicate]:reverse"
        ng-class="{bold:anime.finished,danger:anime.dropped,success:anime.finished}">
        <td>{{anime.title}}</td>
        <td>
            <up-down-button decrease="decreaseEp(anime)" increase="increaseEp(anime)" value="anime.episode" disabled="anime.finished"></up-down-button>
        </td>
        <td>{{anime.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>
            <actions-button finished="finished(anime)" remove="remove(anime)" dropped="dropped(anime)" model="anime"></actions-button>
        </td>
    </tr>
    <tr ng-if="anime.editable" ng-repeat-end="">
        <td><input class="form-control input-sm" type="text" ng-model="anime.title"/></td>
        <td><input class="form-control input-sm" type="number" min="0" ng-model="anime.episode"/></td>
        <td><input class="form-control input-sm" type="url" ng-model="anime.url"/></td>
        <td>
            <save-cancel-button save="update(anime)" cancel="cancel(anime)"></save-cancel-button>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr ng-if="newanime.isnew">
        <td colspan="2"><input class="form-control input-sm" type="text" ng-model="newanime.title" placeholder="title" focus-me="newanime.isnew"/></td>
        <td><input class="form-control input-sm" type="number" min="0" ng-model="newanime.episode"/></td>
        <td>
            <save-cancel-button save="create(newanime)" cancel="cancel(newanime)"></save-cancel-button>
        </td>
    </tr>
        <tr ng-if="!newanime.isnew"><td colspan="4"><add-button add="add()"></add-button></td></tr>
    </tfoot>
</table>
</div>