<div class="header-row">
    <div class="col-sm-2">
        <a href="" ng-click="orderBy.predicate = 'title'; orderBy.reverse=!orderBy.reverse">Title</a>
    </div>
    <div class="col-sm-6">
        <a href="" ng-click="orderBy.predicate = 'episode'; orderBy.reverse=!orderBy.reverse">Episode</a>
    </div>
    <div class="col-sm-1">
        <a href="" ng-click="orderBy.predicate = 'updatedAt'; orderBy.reverse=!orderBy.reverse">Last Modified</a>
    </div>
    <div class="col-sm-3">
        <span class="badge pull-right">{{filtered.length}}</span>
    </div>
</div>
<div class="item-row" ng-if="!anime.editable" ng-repeat-start="anime in filtered = (animes | multi:settings.filter)"
     display-state="anime.stats">
    <div class="col-sm-2">
        <a href="" ng-click="showInfo(anime)">{{anime.title}}</a>
    </div>
    <div class="col-sm-6">
        <up-down-button decrease="decreaseEp(anime)" increase="increaseEp(anime)" value="anime.episode"
                        disabled="anime.stats.finished"></up-down-button>
    </div>
    <div class="col-sm-1">{{anime.updatedAt | timeAgo}}</div>
    <div class="col-sm-3">
        <actions-button finished="finished(anime)" remove="remove(anime)" dropped="dropped(anime)"
                        model="anime"></actions-button>
    </div>
    <div class="row" ng-if="anime.open">
            <img class="image-small" ng-src="{{anime.info.img}}"/>
            <div class="col-sm-11">
                <div class="row" ng-if="anime.info.titles.length > 0">
                    <div class="col-sm-3">Alternate Titles</div>
                    <div class="col-sm-9"><a ng-repeat="title in anime.info.titles">{{title.title}}<span ng-if="!$last">; </span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Episodes</div>
                    <div class="col-sm-3">{{anime.info.episodes}}</div>
                    <div class="col-sm-3">State</div>
                    <div class="col-sm-3">{{anime.info.status}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Start Date</div>
                    <div class="col-sm-3">{{anime.info.start_date | date}}</div>
                    <div class="col-sm-3">End Date</div>
                    <div class="col-sm-3">{{anime.info.end_date | date}}</div>
                </div>
                <dl class="row">
                    <dt class="col-sm-12">Description</dt>
                    <dd class="col-sm-12">
                        <more-text text="anime.info.description"></more-text>
                    </dd>
                </dl>
        </div>
    </div>
</div>
<div class="item-row" ng-if="anime.editable" ng-repeat-end="">
    <div class="col-sm-6">
        <div class="row">
            <label class="control-label col-sm-2 text-right">title</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input class="form-control input-sm" type="text" ng-model="anime.title"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" type="button" ng-click="search(anime)">
                            <span class="glyphicon glyphicon-transfer"></span>
                        </button>
                    </span>
                </div>
            </div>
            <label class="control-label col-sm-2 text-right">episode</label>
            <div class="col-sm-4">
                <input class="form-control input-sm" type="number" min="0" ng-model="anime.episode"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-9">
            <save-cancel-button save="update(anime)" cancel="cancel(anime)"></save-cancel-button>
        </div>
    </div>
</div>

<div class="item-row" ng-if="newanime.isnew">
    <div class="col-sm-3"><input class="form-control input-sm" type="text" ng-model="newanime.title" placeholder="title"
                                 focus-me="newanime.isnew"/></div>
    <div class="col-sm-3"><input class="form-control input-sm" type="number" min="0" ng-model="newanime.episode"/></div>
    <div class="col-sm-6">
        <save-cancel-button save="create(newanime)" cancel="cancel(newanime)"></save-cancel-button>
    </div>
</div>
<div class="item-row" ng-if="!newanime.isnew">
    <div class="col-sm-12">
        <add-button add="add()"></add-button>
    </div>
</div>

