<div flex layout-fill>
    <md-content style="height:700px;flex-wrap: wrap" layout="row" layout-sm="column">
        <section ng-repeat="module in modules()" flex flex-sm="25" flex-gt-sm>
            <md-subheader class="md-primary">
                <!--<md-toolbar><a ng-href="#/{{module}}">{{module}}</a></md-toolbar>-->
                <md-toolbar><h2>{{module}}</h2></md-toolbar>
            </md-subheader>
            <md-list>
                <md-item ng-repeat="item in pCache[module].filteredItems track by item.id">
                    <md-item-content>
                        <div class="md-tile-content">
                            <a ng-href="#/{{module}}/{{item.id}}">{{item.title}} <span ng-if="item.season>0">{{item.season}}</span></a>
                        </div>
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>
                </md-item>
            </md-list>
        </section>
    </md-content>
</div>