<div class="table-responsive">
<table class="table table-hover">
    <thead>
    <tr>
        <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
        <th style="width: 160px"><a href="" ng-click="predicate = 'updatedAt'; reverse=!reverse">Last Modified</a></th>
        <th style="width: 210px"></th></tr>
    </thead>
    <tbody>
    <tr ng-if="!movie.editable" ng-repeat-start="movie in movies | isFinished:settings.excludeFinished | filter:search | orderBy:[predicate]:reverse" ng-class="{success:movie.finished,bold:movie.finished}">
        <td>{{movie.title}}</td>
        <td>{{movie.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>
            <finish-edit-button finished="finished(movie)" remove="remove(movie)" model="movie"></finish-edit-button>
        </td>
    </tr>
    <tr ng-if="movie.editable" ng-repeat-end="">
        <td><input class="form-control input-sm" type="text" ng-model="movie.title"/></td>
        <td>{{movie.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</td>
        <td><save-cancel-button save="update(movie)" cancel="cancel(movie)"></save-cancel-button></td>
    </tr>
    </tbody>
    <tfoot>
    <tr ng-if="newmovie.isnew">
        <td colspan="2"><input class="form-control input-sm" type="text" ng-model="newmovie.title" placeholder="title"/></td>
        <td><save-cancel-button save="create(newmovie)" cancel="cancel(newmovie)"></save-cancel-button></td>
    </tr>
        <tr ng-if="!newmovie.isnew"><td colspan="3"><button ng-click="add()" class="btn btn-default">add</button></td></tr>
    </tfoot>
</table>
</div>