<div class="table-responsive">
<table class="table table-hover">
    <thead>
    <tr>
        <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
        <th style="width: 160px"><a href="" ng-click="predicate = 'updatedAt'; reverse=!reverse">Last Modified</a></th>
        <th style="width: 210px"></th></tr>
    </thead>
    <tbody>
    <tr ng-if="!movie.editable" ng-repeat-start="movie in movies | isFinished:excludeFinished | filter:search | orderBy:[predicate]:reverse" ng-class="{success:movie.finished,bold:movie.finished}">
        <td>{{movie.title}}</td>
        <td>{{movie.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>
            <div class="btn-group pull-right">
                <a class="btn btn-default" ng-class="{active:movie.finished}" href="" ng-click="finished(movie)">finished</a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-model="movie.editable" btn-checkbox href="">edit</a></li>
                            <li><a ng-click="remove(movie)" href="">delete</a></li>
                        </ul>
                    </div>
            </div>
        </td>
    </tr>
    <tr ng-if="movie.editable" ng-repeat-end="">
        <td><input class="form-control input-sm" type="text" ng-model="movie.title"/></td>
        <td>{{movie.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</td>
        <td><div class="btn-group btn-group-justified">
            <a class="btn btn-default" ng-click="update(movie)">save</a>
            <a class="btn btn-default" ng-click="cancel(movie)">cancel</a>
        </div></td>
    </tr>
    </tbody>
    <tfoot>
    <tr ng-if="newmovie.isnew">
        <td colspan="2"><input class="form-control input-sm" type="text" ng-model="newmovie.title" placeholder="title"/></td>
        <td><div class="btn-group btn-group-justified">
            <a class="btn btn-default" ng-click="create(newmovie)">save</a>
            <a class="btn btn-default" ng-click="cancel(newmovie)">cancel</a>
        </div></td>
    </tr>
        <tr ng-if="!newmovie.isnew"><td colspan="3"><button ng-click="add()" class="btn btn-default">add</button></td></tr>
    </tfoot>
</table>
</div>