<div class="header-row">
    <div class="col-sm-2"><a ng-click="orderBy('title')">Title</a>
    </div>
    <div class="col-sm-6"></div>
    <div class="col-sm-1"><a ng-click="orderBy('updatedAt')">Last
        Modified</a></div>
    <div class="col-sm-3"><span class="badge pull-right">{{items.length}}</span></div>
</div>
<div class="item-row" ng-if="!movie.editable" ng-repeat-start="movie in filtered track by movie._id"
     display-state="movie.stats">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2"><a ng-click="showInfo(movie)">{{movie.title}}</a></div>
            <div class="col-sm-6"></div>
            <div class="col-sm-1">{{movie.updatedAt | timeAgo}}</div>
            <div class="col-sm-3">
                <stats-button model="movie" stats="{{enabledStats}}"></stats-button>
                <actions-button remove="remove(movie)" model="movie"></actions-button>
            </div>
        </div>
        <info item="movie"></info>
    </div>
</div>
<div ng-include="'movie/edit.html'" ng-repeat-end="" ng-if="movie.editable"></div>

<div class="navbar-fixed-bottom navbar-default navbar">
    <div class="bottom-row">
        <div class="col-sm-12">
            <add-button add="add()"></add-button>
            <pagination total-items="pagination.filteredItems" ng-model="pagination.currentPage"
                        items-per-page="pagination.itemsPerPage" max-size="pagination.maxSize"
                        class="pull-right pagination-sm" boundary-links="true" ng-change="filter()"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;"></pagination>
        </div>
    </div>
</div>