<div class="header-row">
    <div class="col-sm-2"><a ng-click="orderBy('title')" class="order-by">Title</a>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-2"><a ng-click="orderBy('rating')" class="order-by">Rating</a>
    </div>
    <div class="col-sm-1"><a ng-click="orderBy('updatedAt')" class="order-by">Last
        Modified</a></div>
    <div class="col-sm-3"><span class="badge pull-right">{{items.length}}</span></div>
</div>
<div class="item-row" ng-repeat="movie in filtered track by movie.id"
     display-state="movie.stats">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2"><a ng-click="showInfo(movie)">{{movie.title}}</a></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
                <rating-nuts item="movie" property="'rating'"></rating-nuts>
            </div>
            <div class="col-sm-1">{{movie.updatedAt | timeAgo}}</div>
            <div class="col-sm-3">
                <stats-button model="movie" stats="{{enabledStats}}"></stats-button>
                <actions-button remove="remove(movie)" edit="edit(movie)"></actions-button>
            </div>
        </div>
        <info item="movie"></info>
    </div>
</div>
<bottom-pagination></bottom-pagination>