<div class="row">
    <h3 ng-if="!selectedInfo.id">{{info.title}}
        <a href="">
            <span class="glyphicon glyphicon-ok" ng-click="selectInfo(info)"></span>
        </a>
    </h3>
    <h3 class="dropdown" ng-if="selectedInfo.id==info.id">
        <div class="dropdown-toggle">
            {{selectedTitle}}
            <a href="">
                <span class="glyphicon glyphicon-remove" ng-click="selectInfo({})"></span>
            </a>
        </div>
        <ul class="dropdown-menu">
            <li>
                <a ng-click="selectTitle(info.title)">{{info.title}}</a>
            </li>
            <li ng-repeat="title in info.titles">
                <a ng-click="selectTitle(title.title)">{{title.title}}</a>
            </li>
        </ul>
    </h3>
    <img class="col-sm-3" style="padding:5px" ng-src="{{info.img}}"/>
    <div class="col-sm-9">
        <div class="row" ng-if="info.titles.length > 0">
            <div class="col-sm-3">Alternate Titles</div>
            <div class="col-sm-9"><a ng-repeat="title in info.titles">{{title.title}}<span ng-if="!$last">; </span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Episodes</div>
            <div class="col-sm-3">{{info.episodes}}</div>
            <div class="col-sm-3">State</div>
            <div class="col-sm-3">{{info.status}}</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Start Date</div>
            <div class="col-sm-3">{{info.start_date | date}}</div>
            <div class="col-sm-3">End Date</div>
            <div class="col-sm-3">{{info.end_date | date}}</div>
        </div>
        <dl class="row">
            <dt class="col-sm-12">Description</dt>
            <dd class="col-sm-12">
                <more-text text="info.description"></more-text>
            </dd>
        </dl>
    </div>
</div>