<div class="row">
    <div class="col-lg-1 col-md-2 col-sm-3 hidden-xs">
        <img class="img-responsive" ng-src="{{info.img}}"/>
    </div>
    <div class="col-lg-11 col-md-10 col-sm-9">
        <div class="row" ng-if="info.titles.length > 0">
            <div class="col-sm-3">Alternate Titles</div>
            <div class="col-sm-9"><a ng-repeat="title in info.titles">{{title.title}}<span ng-if="!$last">; </span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Episodes</div>
            <div class="col-sm-3">{{info.episodes}}</div>
            <div class="col-sm-3">State</div>
            <div class="col-sm-3">{{info.status}}</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Start Date</div>
            <div class="col-sm-3">{{info.start_date | date}}</div>
            <div class="col-sm-3">End Date</div>
            <div class="col-sm-3">{{info.end_date | date}}</div>
        </div>
        <dl class="row">
            <dt class="col-sm-12">Description</dt>
            <dd class="col-sm-12">
                <more-text text="info.description"></more-text>
            </dd>
        </dl>
    </div>
</div>