<div class="info-container">
    <info-image info="info"></info-image>
    <div class="info-rows">
        <div class="info-row" ng-if="info.titles.length > 0">
            <div class="info-title">Alternate Titles</div>
            <div class="info-text-100"><a ng-repeat="title in info.titles">{{title.title}}<span ng-if="!$last">; </span></a></div>
        </div>
        <div class="info-row">
            <div class="info-title">Volumes</div>
            <div class="info-text">{{info.volumes}}</div>
        </div>
        <div class="info-row">
            <div class="info-title">Chapters</div>
            <div class="info-text">{{info.chapters}}</div>
        </div>
        <div class="info-row">
            <div class="info-title">State</div>
            <div class="info-text">{{info.status}}</div>
        </div>
        <div class="info-row">
            <div class="info-title">Start Date</div>
            <div class="info-text">{{info.start_date | date}}</div>
        </div>
        <div class="info-row">
            <div class="info-title">End Date</div>
            <div class="info-text">{{info.end_date | date}}</div>
        </div>
        <div class="info-row-100">
            <div class="info-title-100">Description</div>
            <div class="info-text-100"><more-text text="info.description"></more-text></div>
        </div>
    </div>
</div>