<div class="item-row">
    <div class="col-sm-2"><search-button  default-provider="defaultProvider" item="newmanga" placeholder="manga name"></search-button></div>
    <div class="col-sm-5"><input class="form-control input-sm" type="number" min="0" ng-model="newmanga.chapter" placeholder="chapter"/>
    </div>
    <div class="col-sm-2"><input class="form-control input-sm" type="url" ng-model="newmanga.url"
                                 placeholder="url $$chapter$$ will be replaced with next chapter"/></div>
    <div class="col-sm-3">
        <save-cancel-button save="create(newmanga)" cancel="cancel(newmanga)"></save-cancel-button>
    </div>
</div>