<div class="header-row">
    <div class="col-sm-2"><a ng-click="orderBy('title')">Title</a>
    </div>
    <div class="col-sm-3"><a ng-click="orderBy('chapter')">Chapter</a>
    </div>
    <div class="col-sm-2"><a ng-click="orderBy('rating')">Rating</a>
    </div>
    <div class="col-sm-1"><a ng-click="orderBy('updatedAt')">Last
        Modified</a></div>
    <div class="col-sm-1">Url</div>
    <div class="col-sm-3"><span class="badge pull-right">{{items.length}}</span></div>
</div>
<div class="item-row" ng-repeat="manga in filtered track by manga._id"
     display-state="manga.stats">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2"><a ng-click="showInfo(manga)">{{manga.title}}</a></div>
            <div class="col-sm-3">
                <up-down-button disabled="manga.stats.finished" item="manga" property="'chapter'"></up-down-button>
            </div>
            <div class="col-sm-2">
                <rating-stars item="manga" property="'rating'"></rating-stars>
            </div>
            <div class="col-sm-1">{{manga.updatedAt | timeAgo}}</div>
            <div class="col-sm-1"><a href="{{getNextChapterUrl(manga)}}" ng-if="!manga.stats.finished">Next Chapter</a>
            </div>
            <div class="col-sm-3">
                <stats-button model="manga"></stats-button>
                <actions-button remove="remove(manga)" edit="edit(manga)"></actions-button>
            </div>
        </div>
        <info item="manga"></info>
    </div>
</div>
<div class="navbar-fixed-bottom navbar-default navbar">
    <div class="bottom-row">
        <div class="col-sm-12">
            <add-button add="add()"></add-button>
            <pagination total-items="pagination.filteredItems" ng-model="pagination.currentPage"
                        items-per-page="pagination.itemsPerPage" max-size="pagination.maxSize"
                        class="pull-right pagination-sm" boundary-links="true" ng-change="filter()"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;"></pagination>
        </div>
    </div>
</div>