<div class="form-group" ng-class="{'has-error': itemform.title.$invalid}">
    <label>Title</label>
    <search-button default-provider="defaultProvider" item="item" placeholder="manga name"></search-button>
</div>
<div class="form-group" ng-class="{'has-error': itemform.chapter.$invalid}">
    <label>Chapter</label>
    <input class="form-control" type="number" min="0" ng-model="item.chapter"
           placeholder="chapter" name="chapter"/>
</div>
<div class="form-group">
    <label>Chapter Url</label>
    <input class="form-control" type="url" ng-model="item.url"
           placeholder="url $$chapter$$ will be replaced with next chapter"/>
</div>
<div class="form-group">
    <label>Tags</label>
    <tags-input ng-model="item.tags" on-tag-added="onTagAdded($tag)"></tags-input>
</div>