<div class="header-row">
    <div class="col-sm-2"><a ng-click="orderBy('title')" class="order-by">Title</a>
    </div>
    <div class="col-sm-3"><a ng-click="orderBy('chapter')" class="order-by">Chapter</a>
    </div>
    <div class="col-sm-2"><a ng-click="orderBy('rating')" class="order-by">Rating</a>
    </div>
    <div class="col-sm-1"><a ng-click="orderBy('updatedAt')" class="order-by">Last
        Modified</a></div>
    <div class="col-sm-1">Url</div>
    <div class="col-sm-3"><span class="badge pull-right">{{pagination.filteredItemsCount}}</span></div>
</div>
<div class="item-row" ng-repeat="manga in pagination.pageItems track by manga.id"
     display-state="manga.state">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2"><a ng-click="showInfo(manga)">{{manga.title}}</a></div>
            <div class="col-sm-3">
                <up-down-button disabled="manga.state == 'finished'" item="manga" property="'chapter'"
                                update="update(manga)"></up-down-button>
            </div>
            <div class="col-sm-2">
                <rating-nuts item="manga" property="'rating'" update="update(manga)"></rating-nuts>
            </div>
            <div class="col-sm-1">{{manga.updatedAt | timeAgo}}</div>
            <div class="col-sm-1"><a href="{{getNextChapterUrl(manga)}}" ng-if="!manga.stats.finished">Next Chapter</a>
            </div>
            <div class="col-sm-3">
                <stats-button model="manga" update="update(manga)"></stats-button>
                <actions-button remove="remove(manga)" edit="edit(manga)"></actions-button>
            </div>
        </div>
        <info item="manga"></info>
    </div>
</div>
<bottom-navigation add="add()" resource="{{resourceName}}"></bottom-navigation>