<div>
    <h3 ng-if="!selectedInfo.id">
        <span class="glyphicon glyphicon-ok select-info" ng-click="selectInfo(info)"></span>
        {{info.title}}
    </h3>

    <h3 class="dropdown" ng-if="selectedInfo.id==info.id">
        <div class="dropdown-toggle">
            <a href="">
                <span class="glyphicon glyphicon-remove" ng-click="selectInfo({})"></span>
            </a>
            {{selectedTitle}}
        </div>
        <ul class="dropdown-menu">
            <li><a ng-click="selectTitle(info.title)">{{info.title}}</a></li>
            <li ng-repeat="title in info.titles">
                <a ng-click="selectTitle(title.title)">{{title.title}}</a>
            </li>
        </ul>
    </h3>
</div>